<div class="container device-filter-container" >
    <div class="device-filter" [ngClass]="{'drawer-open': isClassVisible }" ng-class="drawer-open">
        <div class="device-filter-header" (click)="isClassVisible = !isClassVisible;"><button class="device-filter-label">Filter by brand<span *ngIf="hideElem"> (0)</span><i class="icon-down device-filter-arrow" aria-label="show brands"></i></button>
            <button
                class="device-filter-clear" *ngIf="hideElem" tabindex="0">Clear</button>
        </div>
        <hr class="device-filter-hairline">
        <div class="device-filter-body">
           <label class="checkbox device-filter-option" *ngFor="let item of totalDeviceRecommendations; let num = index">
					<span class="device-filter-option-text" >{{num}}</span>
					<input  type="checkbox"  >
						<i class="skin"></i>
					</label>
        </div>





   