<div class="container device-container">
    <div class="row recommended-device-row">
        <div class="recommended-device span6 mH300">
            <div class="row span12 device-grid light-theme">
                <div class="span5 device-desc-grid mL20 no-pad">
                    <div class="span12 block">
                        <h4 class="device-make">Samsung</h4>
                    </div>
                    <div class="span12">
                        <h1 class="device-model"> Gear S3 classic</h1>
                    </div>
                    <div class="span12 starRatingContainer">
                        <div class="starRating">
                            <div class="starBlock">
                                <div class="numOfStars" ng-style="{'width': ((item.starRatings / 5 ) * 100) + '%'}" style="width: 90.552%;"></div>
                            </div><span class="final-rating">4.5</span></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="span12">
                        <h4 class="default-price-label">Starting at</h4>
                    </div>
                    <div class="span12">
                        <h3 class="default-price-block"><span class="default-price">$349.99</span>
                        </h3>
                    </div>
                    <div class="span12 p-small shortLegalContainer">
                        <div>Retail price. Requires qualified service.</div><a href="">See price details</a></div>
                </div>
                <div class="span6 hero-device-img"><img alt="Samsung Gear S3 classic" ng-src="https://www.att.com/catalog/en/xpress/Samsung/Samsung Gear S3 classic/Silver-hero.png" src="https://www.att.com/catalog/en/xpress/Samsung/Samsung Gear S3 classic/Silver-hero.png"></div>
            </div>
        </div>
        <div class="recommended-device span6 mH300 ng-scope">
            <div class="row span12 device-grid">
                <div class="span5 device-img"><img alt="Samsung Gear S2" ng-src="https://www.att.com/catalog/en/xpress/Samsung/Samsung Gear S2/Dark Gray-hero.png" src="https://www.att.com/catalog/en/xpress/Samsung/Samsung Gear S2/Dark Gray-hero.png"></div>
                <div class="span7 device-desc-grid">
                    <div class="ribbon-div ribbon purple-white-ribbon">
                        <div class="sub-ribbon">
                            <div>ONLINE DEAL</div>
                        </div>
                    </div>
                    <div class="span12 block">
                        <h4 class="device-make">Samsung</h4>
                    </div>
                    <div class="span12">
                        <h1 class="device-model"> Gear S2</h1>
                    </div>
                    <div class="span12 starRatingContainer ng-scope" ng-if="item.starRatings !== null &amp;&amp; item.starRatings !== 0.0">
                        <div class="starRating">
                            <div class="starBlock">
                                <div class="numOfStars" style="width: 87.824%;"></div>
                            </div><span class="final-rating">4.4</span></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="span12">
                        <h4 class="default-price-label">Starting at</h4>
                    </div>
                    <div class="span12">
                        <h3 class="default-price-block"><span class="default-price">$299.99</span>
                        </h3>
                    </div>
                    <div class="span12 p-small shortLegalContainer">
                        <div>Retail price. Requires qualified service.</div><a href="">See price details</a></div>
                </div>
            </div>
        </div>
    </div>
</div>